<!DOCTYPE html>
<html>
<head>
	<title>{{ shop.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- jquery mobile -->
	<link href="/static/css/shop.css" rel="stylesheet" media="screen">
	<link href="/static/css/jquery.mobile-1.3.1.min.css" rel="stylesheet" media="screen">
	<script src="/static/js/jquery-2.0.3.min.js"></script>
	<script src="/static/js/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="content">
			<div class="shop-info">
				<div class="avatar" data-controltype="image" data-cid="image1">
					<img src="{{ shop.get_picture }}">
				</div>
				<div class="content">
					<h2 class="title">{{ shop.name }}</h2>
				</div>
			</div>

			<div class="shop-func">
				<ul data-role="listview" data-inset="true">
                    {% if shop.intro %}
					<li>
						<a href="{% url 'region_shop_notice' shop.region.id shop.id %}" rel="external">{{ shop.intro }}</a>
					</li>
                    {% else %}
                    {% endif %}
					<li>
						<a href="tel:{{ shop.phone }}">
							电话: {{ shop.telephone }}
						</a>
					</li>
					<li class="opening" data-icon="false">
						营业时间: {{ shop.opentime }}
					</li>
				</ul>
			</div>

			<div class="item-list">
				<ul data-role="listview" data-autodividers="false" data-filter="{{ filter }}" data-inset="true" data-icon="false" data-divider-theme="b" data-filter-placeholder="搜索" data->
                    {% for category in shop.shopcategory_set.all %}
                    	<li data-role="list-divider">{{ category.name}}</li>
	                    {% for product in category.product_set.all %}
	                        <li id="{{ product.id }}">
	                            <a href="#">
	                                <img src="{{ product.get_picture }}">
	                                <h2>{{ product.name }}</h2>
	                                <p>{{ product.price_unit }}</p>
	                            </a>
                                <!--
                                <div class="counter-container ui-li-aside">
                                <a href="#" data-role="button" data-inline="true" data-icon="minus" data-theme="c" data-iconpos="notext"></a>
                                <input type="number" name="counter" id="counter" value="0" data-clear-btn="false">
                                <a href="#" data-role="button" data-inline="true" data-icon="plus"  data-theme="e" data-content-theme="e" data-iconpos="notext"></a>
								</div>
                                -->
	                        </li>
	                    {% endfor %}
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div data-role="popup" id="purchase" data-theme="d" data-overlay-theme="b" class="ui-content" style="min-width:200px; max-width:340px; padding-bottom:1em;">
			<h2>拨打电话</h2>
			<p>{{ shop.owner }}: {{ shop.phone }}</p>
			<a href="#" data-role="button" data-rel="back" data-inline="true" data-mini="true">取消</a>
			<a href="tel:{{ shop.phone }}" data-role="button" data-rel="back" data-theme="b" data-icon="check" data-inline="true" data-mini="true">确定</a>
		</div>
	</div>
</body>
</html>