.shop-info{
	margin-bottom: 16px;
	height: 100px;	
}

.shop-info .avatar{
	float:left;
}

.shop-info .avatar img{
	width: 120px;
	height: 90px;
}

.shop-info .content{
	padding-left: 130px;
	margin:10px 8px;
}

.shop-info .content .title{
	margin: 0;
}


.shop-func{
	margin-bottom: 24px;
}

.shop-func .opening p
{
	white-space:pre-line;
}


.item-list .ui-li-has-thumb img{
	margin: 10px 6px;
	width: 60px;
	height:60px;
}
.item-list .ui-li-has-thumb .ui-btn-inner .ui-link-inherit{
	padding-left: 74px;
}
.item-list .counter-container .ui-input-text{
	width: 30px;
	display: inline-block;
}
.item-list .counter-container{
	padding: 6px 10px;
	width:120px;
}
.item-list .ui-li-has-thumb .ui-btn-inner .name{
	white-space:pre-line;
}


.menu-list ul li img{
	padding-top: 10px;
	padding-left:10px;
}
