<!DOCTYPE html>
<html>
<head>
	<title>北纬40° 社区生活小帮手</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- jquery mobile -->
	<link href="../shop/static/css/shop.css" rel="stylesheet" media="screen">
	<link href="../shop/static/css/jquery.mobile-1.3.1.css" rel="stylesheet" media="screen">
	<script src="../shop/static/js/jquery.js"></script>
	<script src="../shop/static/js/jquery.mobile-1.3.1.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-position="fixed" data-theme="a">
			<a href="shop.html" rel="external" data-icon="arrow-l">返回</a>
			<h1>公告板</h1>
			<a href="menu.html" rel="external" data-icon="home" data-iconpos="right">回主页</a>
		</div>
		<div data-role="content">
			<h1>7-11公告</h1>
			<h2>新上线！欢迎购买！全程8折优惠</h2>
			<p>
				7.19确定第一版功能、分工
				-周日版不做预订、下单流程

				分工：
				kent：产品策划、BD，录入商家信息，产品功能
				shadow：后台、商家，第一版后台| 研究
				iduu：设计、前端开发、协调，shop listview | shop view

				预计周日hack完成第一个可用版本。

				7.20
				-加入营业时间
				-产品结构图

				kent：
				小区logo图[ ]
				餐厅图[X]
				商家信息录入[X]

				shadow：

				iduu：
				使用codiqa原型，确认是否使用jQuery Mobile[X]
				目录页的html、css
				shop listview 的html、css[X][X]
				shop view基础html、css[X][X]

				7.21
				kent：
				shadow：
				iduu:
				优化图片显示[X]
				导航条[X]
				筛选搜索前端功能[X]
				shop view订单增减功能[ ]
			</p>
		</div>

	</div>
</body>
</html>